* {
  box-sizing: border-box ;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { 
  font: 24px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.hide {
  display: none;
}

label , input, button {
  margin: 5px 0px 5px 0px;
  width: 100%;

}

body {
  display: flex;
  flex-wrap: none;
  flex-direction: row;
}

#root {
  /* width: 175px; */
  width: 1600px;
}

.form {
  margin-right: 25px;
}

section {
  margin: 5px 0px 5px 0px;
  width: 100%;
  padding: 2px;
  border: 3px solid rgb(173, 173, 238);
  border-radius: 5px;
}
