$navWidthMax: 200px;
$navWidthMin: 150px;

$navItemHeight: 47px;
$headerHeight: 40px;

$navItemTierTwoHeight: 100%;

$defaultBorderWidth: 2px;
$defaultBorderStyle: solid;
$defaultBorderColor: gray;

$defaultTextColor:rgb(23, 23, 23);