* {
  outline: 1px solid blue !important;
}

.treegraph-container {
  outline: 1px solid red;
  display: flex;
  width: 100%;
}
.treegraph-form{
  width: 175px;
}
.graph {
}

g text:nth-of-type(2){
  font-size: 20px;
}

main {
  width: 100%;
  max-width: 1280px;
  outline: 1px solid black;
}